html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#view {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #9cf;
}
#view canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#panel {
    position: absolute;
    background-color: #ddd;
    border: gray 1px solid;
    left:4px;
    top:4px;
    line-height:1.1em;
    width:15em;
    height:26em;
    font-size: 12px;
    padding: 0.35em;
}
#panel .label {
    display: inline-block;
    width: 4em;
    text-align: center;
}
#panel button {
    margin-top:0; margin-bottom:0;
    padding-top:0; padding-bottom:0;
}
#panel select {
    width: 8em;
}
input[type="range"] {
    width: 6em;
}
#vercnt {
	font-size:80%;
	line-height:1em;
}
#charpanel {
    position: absolute;
    background-color: #fff;
    border: gray 1px solid;
    width:400px;
    height:400px;
    margin:0px;
    padding: 2px;
    display:none;
    overflow-y:auto;
}
#charpanel button.moji {
	width:38px;
	height:38px;
    margin:0px;
    padding:3px;
    border: gray 1px solid;
	display:inline-block;
}
#charpanel svg {
    margin:0px;
    padding:0px;
	width:100%;
	height:100%;
}
#charpanel path {
    margin:0px;
    padding:0px;
	fill:black;
	stroke:black;
	width:100%;
	height:100%;
}

